[anonid="container"]{
    height: 300px;
    width:300px;
}
#plugin {
    BACKGROUND: #0d0d0d;
    COLOR: #AAA;
    CURSOR: move;
    FONT-FAMILY: arial;
    FONT-SIZE: 11px;
    line-height: 1em;
    PADDING: 7px 10px 11px 10px;
    _PADDING-RIGHT: 0;
    Z-INDEX: 1;
    POSITION: absolute;
    WIDTH: 199px;
    _width: 210px;
    _padding-right:
    0px;
}
#plugin br {
    CLEAR: both;
    MARGIN: 0;
    PADDING: 0;
}
#plugin select {
    BORDER: 1px solid #333;
    BACKGROUND: #FFF;
    POSITION: relative;
    TOP: 4px;
}

#plugHEX {
    FLOAT: left;
    position: relative;
    top: -1px;
}
#plugCLOSE {
    FLOAT: right;
    cursor: pointer;
    MARGIN: 0 8px 3px;
    _MARGIN-RIGHT: 10px;
    COLOR: #FFF;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#plugHEX:hover,#plugCLOSE:hover {
    COLOR: #FFD000;
}

#plugCUR {
    float: left;
    width: 10px;
    height: 10px;
    font-size: 1px;
    background: #FFF;
    margin-right: 3px;
}

#SV {
    background: #FF0000 url('http://www.colorjack.com/software/media/SatVal.png');
    _BACKGROUND: #FF0000;
    POSITION: relative;
    CURSOR: crosshair;
    FLOAT: left;
    HEIGHT: 166px;
    WIDTH: 167px;
    _WIDTH: 166px;
    MARGIN-RIGHT: 10px;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='media/SatVal.png',
           sizingMethod='scale');
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#SVslide {
    BACKGROUND: url('http://www.colorjack.com/software/media/slide.gif');
    HEIGHT: 9px;
    WIDTH: 9px;
    POSITION: absolute;
    _font-size: 1px;
    line-height: 1px;
}

#H {
    BORDER:1px solid #000;
    CURSOR: crosshair;
    FLOAT: left;
    HEIGHT: 154px;
    POSITION: relative;
    WIDTH: 19px;
    PADDING: 0;
    TOP: 4px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
#Hslide {
    BACKGROUND: url('http://www.colorjack.com/software/media/slideHue.gif');
    HEIGHT: 5px;
    WIDTH: 33px;
    POSITION: absolute;
    _font-size: 1px;
    line-height: 1px;
}
#Hmodel {
    POSITION: relative;
    TOP: -5px;
}
#Hmodel box {
    HEIGHT: 1px;
    WIDTH: 19px;
    font-size: 1px;
    line-height: 1px;
    MARGIN: 0;
    PADDING: 0;
}