huePicker {
    -moz-binding: url("bindings.xml#huePicker");
    -moz-user-focus: normal;
}

saturationValuePicker {
    -moz-binding: url("bindings.xml#saturationValuePicker");
    -moz-user-focus: normal;
}

twoDimensionalPicker {
    -moz-binding: url("bindings.xml#twoDimensionalPicker");
    -moz-user-focus: normal;
}

verticalPicker {
    -moz-binding: url("bindings.xml#verticalPicker");
    -moz-user-focus: normal;
}

eyedropper {
    -moz-binding: url("bindings.xml#eyedropper");
    -moz-user-focus: normal;
    color:white;
}

[anonid="beforeText"]{
    width:20px;
    min-width:20px;
    max-width:20px;
}

[anonid="textInputs"]{
    height: 210px;
    width: 85px;
    max-width: 85px;
    min-width: 85px;
}

[anonid="colorPreview"]{
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    max-height: 40px;
    max-width: 40px;
    border: 1px solid #777;
    background-color: #000;
}

.colorTextInput{
    width: 45px;
}
