huePicker {
    -moz-binding: url("bindings.xml#huePicker");
    -moz-user-focus: normal;
}

saturationValuePicker {
    -moz-binding: url("bindings.xml#saturationValuePicker");
    -moz-user-focus: normal;
}

twoDimensionalPicker {
    -moz-binding: url("bindings.xml#twoDimensionalPicker");
    -moz-user-focus: normal;
}

verticalPicker {
    -moz-binding: url("bindings.xml#verticalPicker");
    -moz-user-focus: normal;
}

[anonid="textInputs"]{
    height: 210px;
    width: 85px;
    max-width: 85px;
    min-width: 85px;
}

.colorTextInput{
    width: 50px;
}