/**
 * Main Application Layout
 * 
 * This CSS file is for main application layout.
 * Only style rules that affect that structure,
 * position and size of elements should be placed
 * here.
 */

#appcontent{
    height:300px;
}

#csContentBox{
    height:300px;
}

.pane{
    margin:0px 10px;
    padding-top: 5px;
    height:300px;
    overflow: auto;
}

.colorSwatch{
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
    border:1px solid white;
}

#csLeftPane{
    width:420px;
}

#csCenterPane{
}

#csRightPane{
    width:400px;
}

button {
	min-width: 0.1em; 
}

.undoButton,
.redoButton {
}
