/**
 * Main Application Layout
 * 
 * This CSS file is for main application layout.
 * Only style rules that affect that structure,
 * position and size of elements should be placed
 * here.
 */

#appPanel{
    min-height:50px;
    height:300px;
}

#csContentBox{
}

#toolPane{
    line-height: 0px;
}

.pane{
    margin:0px 10px;
    padding-top: 5px;
    overflow: auto;
    -moz-user-focus: normal;
}



.collapsed{
    visibility: collapse;
}

#csLeftPane{
    width:420px;
}

#csCenterPane{
}

#csRightPane{
    width:400px;
}

#csToolPane{
    overflow: scroll;
}

button {
    min-width: 0.1em; 
}

.undoButton,
.redoButton {
}

swatchControl {
    max-width: 24px;
    min-width: 24px;
    margin: 2px 0px;
    -moz-binding: url("chrome://csschemer/content/bindings.xml#swatchControl");
}

paletteControl {
    -moz-binding: url("chrome://csschemer/content/bindings.xml#paletteControl");
    -moz-user-focus: normal;
}

.colorSwatch{
    width: 20px;
    height: 20px;
}
.swatchSelectionBox {
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    background: transparent;
}

