/**
 * Main Application Skin
 *
 * This file is for rules that could be considered
 * "skinning" the application, rather than laying
 * it out. Color rules, images, fonts, etc. should be
 * here. We should be able to modify this file to
 * replace the "look" of the application, as opposed
 * to the structure.
 */

/* DEBUG...  show borders around these elements for
 * diagnostic purposes
 **/
box, hbox, vbox, browser{
}

/* Main content panel at bottom of screen */
#csContentBox{
    background-image: url("chrome://CSSchemer/content/images/appcontent_bg.png");
    background-repeat: repeat-x;
    background-color: #dadada;
    border-top: 2px solid #aaa;
}

#csAppPanelToolbar {
    background-color: #ccc;
}

.pane{
    background-color: #000;
    color: #FFF;
}

.code{
    font-family: "Courier New",Courier,monospace;
}

.invalid{
    color: #F00;
    font-weight: bold;
}

.hidden{
    visibility: hidden;
}

swatchControl{
}
.colorSwatch{
    width: 20px;
    height: 20px;
    /*background-image: url("chrome://CSSchemer/content/images/swatch_border.png");*/
}
.swatchSelectionBox.selected{
    background-color: #999;
    border: 1px solid #AAA;
}