/**
 * Main Application Skin
 *
 * This file is for rules that could be considered
 * "skinning" the application, rather than laying
 * it out. Color rules, images, fonts, etc. should be
 * here. We should be able to modify this file to
 * replace the "look" of the application, as opposed
 * to the structure.
 */

/* DEBUG...  show borders around these elements for
 * diagnostic purposes
 **/
box, hbox, vbox, browser{
}

/* Main content panel at bottom of screen */
#csContentBox{
    background-image: url("chrome://CSSchemer/content/images/appcontent_bg.png");
    background-repeat: repeat-x;
    background-color: #dadada;
    border-top: 2px solid #aaa;
}

#csAppPanelToolbar {
    background-color: #ccc;
}

.pane{
    background-color: #000;
    color: #FFF;
}

.code{
    font-family: "Courier New",Courier,monospace;
}

.invalid{
    color: #F00;
    font-weight: bold;
}

.hidden{
    visibility: hidden;
}

swatchControl{
}
.colorSwatch{
    background-image: url("chrome://CSSchemer/content/images/swatch_border.png");
}
.swatchSelectionBox.selected{
    background-color: #999;
}
.hover .swatchSelectionBox{
    background-color: #444;
}
.swatchSelectionBox.selected .colorSwatch{
    background-image: url("chrome://CSSchemer/content/images/swatch_border_selected.png");
}

.selectedHover .swatchSelectionBox.selected{
    background-color:#BBB;
    border-color:#FFF;
}

.selectedHover3 .swatchSelectionBox.selected{
    background-color:#AAA !important;
}
.selectedHover2 .swatchSelectionBox.selected{
    background-color:#BBB !important;
}
.selectedHover1 .swatchSelectionBox.selected{
    background-color:#CCC !important;
}
.selectedHover0 .swatchSelectionBox.selected{
    background-color:#DDD !important;
}
